body{
    margin-bottom: 10%;
}
.error{
    padding: 0;
}
.ajustar{
    display: inline-block;

    /* width por defecto es 18 */
    width: 25rem;
    margin: 0.5% 0.5% 0.5% 0.5%;
    min-height: 300px;
}
.presentacion{
    /* width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}
/* .presentacion:hover{
    display: block;
} */
.ajustar:hover{
    /* box-shadow: 0px 6px 8px 0.1px red; */
    box-shadow: 0px 3px 5px 1px lightgray;
}
#botonAniadir{
    text-align: right;
    margin-right: 5%;
    margin-top: 1.5%;
}
#botonAniadir:hover{
    cursor: pointer;
    }
#imagenAniadir{
    scale: 1.5;
}
#tarjetas{
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    justify-content: center;
}
.imagen-centrar{
    text-align: center;
    margin-top: 1%;
}

