
body {
    display: block;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin select {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  #logoSesion{
    display: block;
    text-align: center;
    width: 100%;
  }
  h1{
    text-align: center;
  }
  
  .fondoNav{
    background-color: rgb(33, 37, 41) !important;
  }
  
  